@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

:root {
  --colors-orange: rgb(252, 102, 33);
  --colors-light-orange: hsl(18.9, 97.3%, 70%);
  --colors-white: rgba(255, 255, 255, 1);
  --colors-light-gray: rgba(255, 255, 255, 0.5);
  --colors-normal-gray: rgba(255, 255, 255, 0.3);
  --colors-text: rgb(0, 2, 50);
  --colors-footer-bg: rgb(0, 0, 51);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
