@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

:root {
  --colors-orange: rgb(252, 102, 33);
  --colors-white: #fff;
  --colors-text: #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Noto Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

#navbar__menu-toggle {
  display: none;
}

#navbar__menu-toggle:checked ~ .navbar__navlinks {
  width: 0;
  margin: 0;
}

.navbar__menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.navbar__menu span {
  width: 24px;
  height: 2px;
  background: #000;
  position: absolute;
  top: 50%;
  right: 0;
  transition: transform 0.5s ease;
}

.navbar__menu span:first-child {
  transform: translateY(-14px) rotate(0);
}

.navbar__menu span:nth-child(2) {
  transform: translateY(-7px) rotate(0);
}

#navbar__menu-toggle span:last-child {
  transform: translateY(-2px) rotate(0);
}
